* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  body {
    font-family: 'Lato', sans-serif;
  }

  .container {
    margin: 0 auto;
    max-width: 768px;
  }

  .nav-top {
    background-color: black;
  }

  .navbar-top {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .navbar-top-items {
    display: flex;
    align-items: center;
  }

  .navbar-top-item {
    display: flex;
    align-items: center;
  }

  .navbar-top-item-link {
    align-self: center;
    margin-left: 15px;
    color: #fff;
  }

  .nav-bottom-container {
      background-color: #fff;
  }

  .nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-img {
    width: 100px;
    height: auto;
  }

  .logo-link {
    order: -1;
  }

  .mobile-menu-button-link {
    display: none;
  }

  .navbar-bottom-items {
    display: flex;
  }

  .navbar-bottom-item-link {
    color: black;
    margin-left: 60px;
    font-weight: 600;
  }

  .last {
    padding: 3px 10px;
    border: 3px solid #c23f30;
    color: #c23f30;
  }

  

  

  @media screen and (max-width: 767px) {
    .nav-top {
        display: none;
    }

    .mobile-menu-button-link {
        display: inline;
        position: fixed;
        top: 20px;
        left: 20px;
        color: black;
      }

    .nav-bottom-container {
        display: none;
    }

    .headline {
        background-image: url("images/mobile_intro_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 80px 24px 80px 24px;
        
    }

    .headline-title h1 {
        color: #c23f30;
        font-size: 8vw;
        font-weight: 400;
        text-transform: uppercase;
        font-family: 'Cocogoose', sans-serif;
      }
    
      .headline-title h2 {
        color: #c23f30;
        font-size: 5vw;
        text-transform: none;
      }
      
      .headline p {
        background-color: #fff;
        line-height: 25px;
        padding: 15px 15px;
        margin-top: 35px;
        margin-bottom: 20px;
        font-size: 1.0rem;
        line-height: 1.5rem;
      }
      .headline h3 {
        font-family: 'Cocogoose', sans-serif;
        font-weight: normal;
        font-size: 6vw;
        line-height: 7vw;
      }

      .program-section {
        width: 100vw;
        background-image: url("images/pattern.png");
        background-repeat: repeat;
        background-color: #272a32;
        background-size: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .program-section h2 {
        padding-top: 2rem;
        font-weight: 400;
        text-align: center;
        font-size: 5vw;
        color: #fff;
      }

      .program-section hr{
        margin: 0 auto;
        margin-top: 0.8rem;
        width: 10%;
        border: 0.5px solid #c23f30;
        margin-bottom: 35px;
      }

      .cards-program {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        color: #fff;
        align-items: center;
      }

      .program-card {
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);;
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
        font-size: .8rem;
        gap: 10%;
      }

      .program-card img {
        margin-right: 35px;
        padding-left: 15px;
      }

      .program-card h3 {
          color: #c23f30 ;
      }

      .program-card p {
          font-size: 2.5vw;
          line-height: 3.5vw;
      }

      .program-card-description {
          width: 40%;
      }

      .program-card-description{
        width: 70%;
        flex: basic;

      }

      .program-card-headline {
          display: flex;
          align-items: center;
          width: 40%;
      }

    .program-button {
        background-color: #c23f30;
        color: #fff;
        padding: 10px 35px;
        align-self: center;
        margin-bottom: 20px;
    }

    .speakers {
        padding-right: 24px;
    }

    .speakers h2 {
        padding-top: 2rem;
        font-weight: 400;
        text-align: center;
        font-size: 5vw;
        color: black;
    }

    .speacker-headline h2 {
        margin-bottom: 15px;
        margin-top: 40px;
        text-align: center;
    }
    .speacker-headline hr{
        margin: 0 auto;
        margin-top: 0.8rem;
        width: 10%;
        border: 0.5px solid #c23f30;
        margin-bottom: 35px;
  }

  .speacker-card {
      display: flex;
      padding: 24px;
  }

  .speaker-image {
      margin-right: 20px;
      width: 30%;
  }

  .speaker-name{
      font-size: 16px;
      margin-bottom: 8px;
  }

  .speacker-profile {
      color: red;
      font-size: 14px;
      font-weight: 600;
  }

  .speacker-divider {
    margin-top: 0.8rem;
    width: 10%;
    border: 0.5px solid #d3d3d3;
    margin-bottom: 10px;
  }

  .footer {
    
    
  }

  .footer-bottom {
    height: 150px;
    width: 100%;
  }

  .footer-top {
    background-color: #2E2E2E;
    width: 100%;
    height: 150px;
  }

  .footer-top h2 {
    
  }
}